.example-spacer {
    flex: 1 1 auto;
  }


  mat-toolbar{
    margin-top: 10px;
  }

  element.style {
    color: white;
    background-color: darkred;
}

mat-header-cell.mat-header-cell.cdk-header-cell.cdk-column-serialNumber.mat-column-serialNumber.ng-star-inserted {
  background-color: aquamarine;
}
mat-header-cell.mat-header-cell.cdk-header-cell.cdk-column-name.mat-column-name.ng-star-inserted {
  background-color: aquamarine;
}
mat-header-cell.mat-header-cell.cdk-header-cell.cdk-column-roll.mat-column-roll.ng-star-inserted {
  background-color: aquamarine;
}
mat-header-cell.mat-header-cell.cdk-header-cell.cdk-column-subject.mat-column-subject.ng-star-inserted {
  background-color: aquamarine;

}

mat-header-cell.mat-header-cell.cdk-header-cell.cdk-column-practical.mat-column-practical.ng-star-inserted {
  background-color: aquamarine;

}
mat-header-cell.mat-header-cell.cdk-header-cell.cdk-column-theory.mat-column-theory.ng-star-inserted{
  background-color: aquamarine;

}
mat-header-cell.mat-header-cell.cdk-header-cell.cdk-column-total.mat-column-total.ng-star-inserted{
  background-color: aquamarine;

}
mat-header-cell.mat-header-cell.cdk-header-cell.cdk-column-grade.mat-column-grade.ng-star-inserted{
  background-color: aquamarine;

}

mat-header-cell.mat-header-cell.cdk-header-cell.cdk-column-edit.mat-column-edit.ng-star-inserted {
  background-color: aquamarine;

}

mat-header-cell.mat-header-cell.cdk-header-cell.cdk-column-delete.mat-column-delete.ng-star-inserted{
  background-color: aquamarine;

}